<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/style.css')}}">
    <title>Cadastrar</title>
</head>
<body>
  <header>
  <!-- Acrscentei a tag header para centralizar a área de preenchimento dos dados -->

  </header>

      <span class="border">
      <div class="container">
        <form action="{{ url_for('cadastro')}}" method="post" >
          <!-- Eu deixei a mesma lógica do teu código, só acrescentei o bootstrap e coloquei o formulário em um container,
          o input eu não alterei nome ou tipo, só acrescentei -->
          {%if msg=="4"%}
          <div class="alert alert-danger" role="alert">

            Algum erro ocorreu
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {%endif%}
           <label>
               Usuário:
           </label>
           <div class="input-group mb-3">
             <input type="text" value="{{nome}}" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" name="usuario">
           </div>
           {%if msg=="1"%}
           <div class="alert alert-danger" role="alert">
 
             O nome não pode ficar vazio
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           {%endif%}
           {%if msg=="2"%}
           <div class="alert alert-danger" role="alert">
 
             Esse nome já existe!
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           {%endif%}
           <label>
            Senha:
        </label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" name="senha">
        </div>
        {%if msg=="3"%}
        <div class="alert alert-danger" role="alert">

         A senha não pode ficar vazia!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {%endif%}
        <div class="links">
          <input type="submit" value="Cadastrar">
          <br>

        </div>
        <a href="/"> Voltar ao início</a>
      </form>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
