<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style-3.css')}}">
    <title>Bem vindo ao chat</title>
</head>
<body>

  <header>
  </header>
    <div class="chat">
      <div class="container">
        <div id="messages">

        </div>
        <label >Chat: "{{room}}"</label>

          <div class=" form-control chat" id="mensagens" rows="3">
      
          </div>
            <div class="input-group mb-3">
            <input id="mensagem" type="text" class="form-control" placeholder="Digite sua mensagem" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="float-right">
            <button onclick="enviar()"> Enviar</button>
            <input type="submit" value="Anexar">
          </div>
          </div>
          <button onclick="sair()"> Sair</button>

        
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('join', {nome:"{{nome}}", room:"{{room}}"} );
        });

        function enviar(){
            var input = document.getElementById("mensagem").value;

            if (input == " "|| input.value==" "){
                console.log("AAAAAA")            
                }
                else{
                
                socket.emit('enviar_mensagem', {nome:"{{nome}}", mensagem:input, room:"{{room}}"})
                document.getElementById("mensagem").value="";
            }
        }
        

        socket.on('new_user', function (data) {
     
      const newNode = document.createElement('div');
      newNode.innerHTML = `<b>${data['nome']}</b> entrou na sala`;
      document.getElementById('messages').appendChild(newNode);
    })
    
    window.addEventListener("beforeunload", function (event) {
        console.log("{{nome}}");
        socket.emit('unjoin', {nome:"{{nome}}", room:"{{room}}"})
});
   

socket.on('leave', function (data,room){
   
console.log('oXEEE  ')
    if(data['name']=="{{nome}}"){

        window.location.href="/"
    }
else{
  
    const novono = document.createElement('div');
      novono.innerHTML = `<b>${data['nome']}</b> saiu da sala`;
      document.getElementById('messages').appendChild(novono);

  
}
})

    socket.on('nova_mensagem', function (data, room) {
     
     const novono = document.createElement('div');
     console.log(data.nome);
     novono.innerHTML = `<b>${data.nome}:&nbsp;</b> ${data.mensagem}`;     



     
     document.getElementById('mensagens').appendChild(novono);
   })
function sair(){

        socket.emit('unjoin', {nome:"{{nome}}", room:"{{room}}"})

}
    </script>

</body>
</html>
