<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style-3.css')}}">

    <title>Bem vindo ao chat</title>
</head>
<body>
    <div id="messages">

    </div>

    <div id="mensagens">

    </div>

    <input type="text" id="mensagem">
    <button id="button" onclick="enviar()"> Enviar</button>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('join', {nome:"{{nome}}"} );
        });

        function enviar(){
            var input = document.getElementById("mensagem").value;

            if (input == " "|| input.value==" "){
                console.log("AAAAAA")            
                }
                else{
                
                socket.emit('enviar_mensagem', {nome:"{{nome}}", mensagem:input})
                document.getElementById("mensagem").value="";
            }
        }
        

        socket.on('new_user', function (data) {
     
      const newNode = document.createElement('div');
      newNode.innerHTML = `<b>${data['nome']}</b> entrou na sala`;
      document.getElementById('messages').appendChild(newNode);
    })


    socket.on('nova_mensagem', function (data) {
     
     const newNode = document.createElement('div');
     console.log(data.nome);
     newNode.innerHTML = `<b>${data.nome}:&nbsp;</b> ${data.mensagem}`;     



     newNode.id="mens"
     
     
     
     document.getElementById('mensagens').appendChild(newNode);
   })

    </script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
