<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ei Ignotas</title>

    <style>


body{
height: 100%;
    display: flex;

            flex-direction: column;
            align-items: center;
            justify-content: center;
}
      
   
      




    </style>

</head>
<body>
    <div class="formu">

    <form action="{{ url_for('chat')}}" method="post" >

   <label>
       Usuário:
   </label>
   <input type="text" name="usuario">
   <br>
   <label>
    Senha:
</label>
<input type="text" name="senha">
<br>

<label>
    Sala:
</label>
<input type="text" name="sala">
<br>
   <input type="submit" value="Entrar">
</form>

<a href="#"> Cadastre-se</a>
</div>

</body>
</html>