<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style-2.css')}}">

    <title>Entrar</title>

</head>
<body>
  <header>

  </header>
    <div class="formu">
      <span class="border">
      <div class="container">

    <form action="{{ url_for('main')}}" method="post" >

      <!-- Eu deixei a mesma lógica do teu código, só acrescentei o bootstrap e coloquei o formulário em um container,
      o input eu não alterei nome ou tipo, só acrescentei -->
      {%if msg=="4"%}
       <div class="alert alert-danger" role="alert">

         Algum erro ocorreu!  
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       {%endif%}
       <label>
           Usuário:
       </label>
      
       <div class="input-group mb-3">
         <input type="text" value="{{nome}}") class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" name="usuario">
       </div>
       {%if msg=="1"%}
       <div class="alert alert-danger" role="alert">

         Esse usuário não está cadastrado!  
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       {%endif%}
       <label>
        Senha:
    </label>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" name="senha">
    </div>
    {%if msg=="2"%}
    <div class="alert alert-danger" role="alert">

      A senha está incorreta!  
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
    <label>
        Sala:
    </label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" name="sala">
    </div>

    <div class="links">
      <input type="submit" value="Entrar">
      <br>

    </div>
    <a href="/cadastro">Cadastre-se</a>
      </form>
    </div>
  </span>
      </div>
      <script type="text/javascript" src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
